.img-responsive,
.thumbnail  img,
.thumbnail a  img,
.carousel-inner  .item  img,
.carousel-inner  .item  a  
img 
{
  display: block;
  width: 100%;
  /*  max-width: 400px; */
  height: auto;
  max-height: 500px;
  max-width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.carousel-inner .container {
    width: 100%;
    height:auto;
    padding: 0px !important;
    margin: 0px !important;
}
.container{
    background: rgba(254,100,46,.7);
}
.col-sm-4, .col-sm-offset-4 {
    border-radius: 20px;
    background: rgba(255,255,255,1);
    padding: 2px; 
    width: auto;
    max-width: 420px;
    height: 300px;
    margin: 20px;
    text-align:center;
}

.carousel-inner .carousel-caption {
    bottom: 70% !important
}
